body{
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}
header,.items{
    width: 1250px;
    height: 250px;
    padding-left: 20px;
    margin: 10px auto;
}
header{
    position: relative;
    background-image: url("../img/tou.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 150px;
}
header h1{
    margin: 0;
    text-align: center;
    color: white;
}
.items{
    margin-bottom: 20px;
    height: 320px;
}
.p{
    background-color: #2a809d;
    height: 320px;
    background-image: linear-gradient(
    to bottom,
    #4b6db9 20%,
    #b2d3ff 80%
    );
    font-family: 'Microsoft YaHei';
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    padding-top: 40px;
    line-height: 30px;
}
.item{
    width: 230px;
    height: 300px;
    text-align: center;
    margin-right: 20px;
    background: #fff;
    float: left;
    position: relative;
    top: 0;
    overflow: hidden;
    transition: all .5s;
    box-shadow: #41a8ff 0 5px 5px;
}
.pic{
    margin-top: 20px;
    width: 100%;
}
.pic img{
    width: 100%;
}
.desc{
    width: 100%;
    background-color: rgba(88,166,240,0.8);
    position: absolute;
    transition: all .5s;
    bottom: -100px;
}
.item:hover{
    top: -5px;
    box-shadow: 0 0 15px #aaa;
}
.item:hover .desc{
    bottom: 0px;
}
.detail{
    font-weight: bold;
    font-size: 20px;
    margin: 25px 0;
}
.detail i{
    color: red;
}
.detail a img{
    width: 20px;
}
